.contact-form-section {
  overflow-x: clip;
  margin-top: rfs-value(130px);

  // Disable interaction and selection for decorative images to avoid accidental highlighting or clicks
  img {
    pointer-events: none;
    user-select: none;
  }

  .form-wrapper {
    background: $white;
    padding: rfs-value(70px) rfs-value(34px) rfs-value(70px) rfs-value(36px);
    position: relative;
    min-height: rfs-value(550px);

    #contact-form {
      position: relative;
      z-index: 1;
    }

    .additional-info {
      height: rfs-value(80px);
    }

    .shape-outer-flower {
      .outer-bottom {
        position: absolute;
        bottom: rfs-value(-130px);
        left: 0;
        z-index: -1;
        transition: all 0.6s ease-out 0s;
      }

      .outer-top {
        position: absolute;
        top: rfs-value(-150px);
        left: 0;
        z-index: -1;
        transition: all 0.6s ease-out 0s;
      }
    }

    .shape-inner-flower {
      .shpe2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      .shape-outer-flower {
        .outer-top {
          top: rfs-value(-140px);
        }

        .outer-bottom {
          bottom: rfs-value(-140px);
        }
      }
    }

    input {
      background: none;
      color: $text-dark;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
    }

    .nice-select {
      width: 100%;
      color: $text-muted;
      text-transform: capitalize;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
    }

    textarea {
      color: $text-dark;
      background: none;
      height: rfs-value(140px);
      width: 100%;
      border-radius: 5px;
      border: 1px solid #d9d9d9;
    }
  }

  label {
    color: $text-muted;
  }
}

.contact-form-container {
  .ornament-line-vector {
    max-width: rfs-value(128px);
  }

  .alert-message {
    display: none;
  }

  .alert-success {
    .alert-message.type-success {
      display: block;
    }
  }

  .alert-danger {
    .alert-message.type-error {
      display: block;
    }
  }

  .btn-close {
    padding-top: rfs-value(15px);
    padding-bottom: rfs-value(8px);
  }

  .alert {
    padding-top: rfs-value(8px);
    padding-bottom: rfs-value(8px);
  }
}

.padding-container {
  background: $white;
  padding: rfs-value(10px);
  box-shadow: 0 0 86px 0 rgba(0, 0, 0, 0.06);
  max-width: rfs-value(550px);
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: $white;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  cursor: pointer;
  font-size: rfs-value(16px);
  font-weight: normal;
  padding: rfs-value(16px) rfs-value(12px);
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}


@include media-breakpoint-up(sm) {
  .padding-container {
    padding: rfs-value(16px);
  }
}

@include media-breakpoint-up(lg) {
  .contact-form-section {
    .ornament-line-vector {
      max-width: rfs-value(165px);
    }

    .form-wrapper {
      padding: rfs-value(65px) rfs-value(60px);
      min-height: rfs-value(700px);

      .shape-outer-flower .outer-bottom {
        left: rfs-value(240px);
      }

      .shape-outer-flower .outer-top {
        left: rfs-value(-150px);
      }
    }
  }
}
