.countdown-section {
  position: relative;
  padding-top: rfs-value(70px);
  padding-bottom: rfs-value(70px);

  .count-down-wrapper {
    background-size: cover;
    background-color: var(--bs-primary);
    padding: rfs-value(16px) rfs-value(10px);
    position: relative;

    .corner-ornament {
      width: 100%;
      max-width: 35px;
    }

    .background-img {
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .digits-container {
      width: 100%;
      max-width: rfs-value(640px);
      margin: 0 auto;
    }

    .single-counter {
      padding: rfs-value(20px);
      text-align: center;
      flex: 1;
      max-width: rfs-value(150px);
    }

    span {
      color: #fff;
      font-size: rfs-value(28px);
      line-height: 1;
      margin-bottom: rfs-value(12px);
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      font-family: 'Barlow', sans-serif;
    }

    p {
      font-size: rfs-value(14px);
      color: #fff;
      line-height: 1;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      font-family: 'Barlow', sans-serif;
    }
  }
}

@include media-breakpoint-down(lg) {
  .countdown-section {
    .no-padding-until-lg {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .countdown-section {
    .count-down-wrapper {
      padding: rfs-value(40px) 0;

      .corner-ornament {
        max-width: 60px;
      }

      span {
        font-size: rfs-value(36px);
      }

      p {
        font-size: rfs-value(18px);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .countdown-section {
    .count-down-wrapper {
      .digits-container {
        max-width: rfs-value(730px);
      }
    }
  }
}