.header {
  background: $header-bg;
  border-bottom: 1px solid rgba(0, 0, 0, .05);

  .main-logo {
    height: rfs-value(55px);
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;

  .nav-link {
    text-transform: uppercase;
    text-align: center;
  }
}

.nav-underline {
  .nav-link.dropdown-toggle.show {
    border-bottom-color: currentcolor;
  }

  .nav-link:focus {
    border-bottom-color: transparent;
  }

  .nav-link:hover,
  .active .nav-link {
    border-bottom-color: $primary;
  }
}

.navbar-toggler {
  margin-top: rfs-value(9px);
  margin-bottom: rfs-value(9px);
  border: none;
}

.search-button {
  border: 1px solid $text-muted;
  border-radius: rfs-value(15px);
  color: $text-muted;
  background: none;

  .search-shortcut {
    display: none;
    margin-right: 12px;
    font-size: rfs-value(11px);
  }
}

body[data-os='MacOS'] .search-shortcut.macos {
  display: inline;
}

body[data-os='Windows'] .search-shortcut.windows {
  display: inline;
}

@include media-breakpoint-up(lg) {
  .header {
    .main-logo {
      height: rfs-value(75px);
    }

    .nav-link {
      padding-top: rfs-value(30px);
      padding-bottom: rfs-value(30px);
    }
  }
}