.our-story-section {
  $max-card-width: rfs-value(583px);

  position: relative;

  .story-img {
    img {
      width: 100%;
    }

    .story2 {
      //position: relative;
      //bottom: 0;
      //left: 0;
      //max-height: $max-card-width;

      //@include media-breakpoint-up(sm) {
      //  bottom: -51px;
      //  left: -27px;
      //}

      @include media-breakpoint-up(md) {
        margin-top: rfs-value(65px);
      }
    }
  }

  .story-caption {
    display: flex;
    align-items: center;
    background-color: var(--bs-primary);
    position: relative;
    overflow: hidden;

    .flower-ornament {
      position: absolute;
      width: 100%;
      max-width: 245px;
      left: -153px;
      bottom: 0;
    }

    .corner-ornament {
      width: 100%;
      max-width: 65px;
    }

    .story-details {
      padding-top: rfs-value(70px);
      padding-bottom: rfs-value(70px);
      padding-left: rfs-value(105px);
      padding-right: rfs-value(50px);
      min-height: rfs-value(440px);

      @include media-breakpoint-up(md) {
        padding-left: rfs-value(121px);
        padding-top: rfs-value(90px);
        padding-bottom: rfs-value(90px);
      }

      @include media-breakpoint-up(lg) {
        padding-left: rfs-value(120px);
        //padding-top: rfs-value(110px);
        //padding-bottom: rfs-value(110px);
      }

      h4 {
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 21px;
      }

      p {
        color: #fff;
        font-size: rfs-value(14px);
      }
    }

    &.background-img {
      //width: 291px;
      //height: 395px;
      background-repeat: no-repeat;
      background-size: cover;

      @include media-breakpoint-up(sm) {
        //width: 474px;
        //height: $max-card-width;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .our-story-section {
    .story-caption {
      .corner-ornament {
        max-width: rfs-value(75px);
      }

      .flower-ornament {
        max-width: rfs-value(270px);
        left: -140px;
        bottom: -15px;
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .our-story-section {
    .story-caption {
      .story-details {
        padding-left: rfs-value(145px);
        min-height: rfs-value(540px);
      }

      .corner-ornament {
        max-width: rfs-value(90px);
      }

      .flower-ornament {
        max-width: rfs-value(290px);
        left: -145px;
        bottom: -10px;
      }
    }
  }
}