.our-story-section {
  $max-card-width: rfs-value(583px);

  position: relative;

  .story-img {
    img {
      border-radius: 0;
      width: 100%;
    }

    .story2 {
      @include media-breakpoint-up(md) {
        margin-top: rfs-value(65px);
      }
    }
  }

  .story-caption {
    display: flex;
    align-items: center;
    background-color: var(--bs-primary);
    position: relative;
    overflow: hidden;
    font-family: 'Playfair Display', serif;

    .flower-ornament {
      position: absolute;
      width: 100%;
      max-width: 245px;
      left: -153px;
      bottom: 0;
    }

    .corner-ornament {
      width: 100%;
      max-width: 65px;
    }

    .story-details {
      padding-top: rfs-value(70px);
      padding-bottom: rfs-value(70px);
      padding-left: rfs-value(105px);
      padding-right: rfs-value(50px);
      min-height: rfs-value(530px);

      @include media-breakpoint-up(md) {
        padding-left: rfs-value(121px);
        padding-top: rfs-value(90px);
        padding-bottom: rfs-value(90px);
      }

      @include media-breakpoint-up(lg) {
        padding-left: rfs-value(120px);
      }

      h4 {
        font-size: rfs-value(29px);
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: rfs-value(21px);
        font-style: italic;
      }

      p {
        color: #fff;
        font-size: rfs-value(15px);
        font-family: $font-family-base;
        font-style: italic;
        font-weight: 300;
      }
    }

    &.background-img {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@include media-breakpoint-up(lg) {
  .our-story-section {
    .story-caption {
      .story-details {
        h4 {
          font-size: rfs-value(32);
        }
      }

      .corner-ornament {
        max-width: rfs-value(75px);
      }

      .flower-ornament {
        max-width: rfs-value(270px);
        left: -140px;
        bottom: -15px;
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .our-story-section {
    .story-caption {
      .story-details {
        padding-left: rfs-value(145px);
        min-height: rfs-value(540px);
      }

      .corner-ornament {
        max-width: rfs-value(90px);
      }

      .flower-ornament {
        max-width: rfs-value(290px);
        left: -145px;
        bottom: -10px;
      }
    }
  }
}