// ============================================================================
// Global Variables
// ============================================================================

$font-family-base: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
//$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;

$btn-border-width: 2px;
$btn-border-radius-lg: 60px;
$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 1.5rem;

$navbar-color: #333333;
// ============================================================================
// Colours
// ============================================================================


//$primary: #0C3B3C;


//$primary: var(--bs-primary);
//$primary: #8003fc;
$secondary: #89C63F;
$body-bg: #FAF9F6;
$header-bg: #ECECEC;
$footer-bg: #DADADA;
$border-color: #E5E5E5;
$text-dark: #333333;
$text-muted: #6C757D;
$hover-grey: #ADB5BD;

//$navbar-light-active-color: $primary;

// ============================================================================
// Breakpoints
// ============================================================================
//$grid-breakpoints: (
//    xs: 0,
//    sm: 576px,
//    md: 768px,
//    lg: 992px,
//    xl: 1200px,
//    xxl: 1400px
//);

// ============================================================================
// Containers
// ============================================================================

// Default Values:
//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px,
//  xxl: 1320px
//);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1030px, // reduced by 10%
        xxl: 1200px // reduced by 10%
);
