.page-section {
  padding-top: rfs-value(50px);
  padding-bottom: rfs-value(50px);
  margin-top: rfs-value(50px);
  margin-bottom: rfs-value(50px);
}

.split-section {
  max-width: rfs-value(660px);
  width: 100%;
  padding: rfs-value(40px);
}

.date-summary-day {
  display: block;
  font-size: 2.02rem;
  font-weight: 700;
  line-height: 1;

  &.smaller {
    font-size: 1.5rem;
  }
}

.date-summary-month {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;

  &.smaller {
    font-size: 1rem;
  }
}

/* Autofill background fix for Bootstrap */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: $body-bg !important; /* Desired background */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

input:-internal-autofill-selected {
  background-color: $body-bg !important; /* Fix for Firefox */
}

.section-tittle {
  h2 {
    font-size: rfs-value(28px);
    line-height: 1.3;
    font-weight: 700;
    color: #212121;
  }

  img {
    -webkit-transition: all .6s ease-out 0s;
    -moz-transition: all .6s ease-out 0s;
    -ms-transition: all .6s ease-out 0s;
    -o-transition: all .6s ease-out 0s;
    transition: all .6s ease-out 0s;
    position: relative;
    top: -5px;
    margin-bottom: 25px;
  }

  &.tittle-form {
    img {
      position: relative;
      top: 5px;
      width: unset
    }

    h2 {
      font-size: rfs-value(22px);
      line-height: 1.3
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-tittle img {
    width: 95%
  }
}

@include media-breakpoint-up(lg) {
  .section-tittle {
    h2 {
      font-size: rfs-value(36px);
    }
  }

  .section-tittle.tittle-form h2 {
    font-size: rfs-value(24px);
  }
}

@include media-breakpoint-up(xl) {
  .section-tittle {
    h2 {
      font-size: rfs-value(40px);
    }
  }

  .section-tittle.tittle-form h2 {
    font-size: rfs-value(28px);
  }
}