// ============================================================================
// Global Variables
// ============================================================================

//$font-family-base: 'Roboto', sans-serif;
$border-radius: 0;
$btn-border-width: 2px;

// ============================================================================
// Colours
// ============================================================================

$primary: #F0018B;
$secondary: #89C63F;
$body-bg: #FAF9F6;
$header-bg: #ECECEC;
$footer-bg: #DADADA;
$border-color: #E5E5E5;
$text-dark: #333333;
$text-muted: #6C757D;
$hover-grey: #ADB5BD;

$navbar-light-active-color: $primary;

// ============================================================================
// Breakpoints
// ============================================================================
//$grid-breakpoints: (
//    xs: 0,
//    sm: 576px,
//    md: 768px,
//    lg: 992px,
//    xl: 1200px,
//    xxl: 1400px
//);

// ============================================================================
// The Grid
// ============================================================================
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1200px // Overwrite this value
);